<!DOCTYPE html>
<html>

<head>
    <title>
        Login and Registration
    </title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>

    <div class="container">
        <header class="header clearfix">
            <nav>
                <ul class="nav nav-pills float-right">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/logout">Logout</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Login and Registration</h3>
        </header>

        <main role="main">



            <div class="row">
                <div class="col-lg-12">

                    {{!-- to display the success there had to be something on this page, the code is below --}}
                    {{#if success_msg}}
                    <div class="alert alert-success">{{success_msg}}</div>
                    {{/if}}

                    {{#if error_msg}}
                    <div class="alert alert-danger">{{error_msg}}</div>
                    {{/if}} 
                    
                    {{#if error}}
                    <div class="alert alert-danger">{{error}}</div>
                    {{/if}} 
                    
                    {{!-- In express handlebars if you wanna load views use these 3 braces --}}
                    <h4>{{{body}}}</h4>

                </div>
            </div>

        </main>

        <footer class="footer">
            <p>&copy; Lenny ka company @2017</p>
        </footer>

    </div>
    <!-- /container -->

</body>

</html>